
.App{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  background-color: rgb(58, 58, 58);
}
body{
  background-color: rgb(58, 58, 58);
  
}
